.container {
    height: auto;
    margin: .5em;
        }
  
 h1 {   font-family: Avenir Next Condensed;
        font-weight: 200;
        text-align: center;
        color: black;
        font-size: 2em;
}

section {
    padding: 3% 2% 2% 2%;
    text-align: right;
    
}

p {
    font-family: Avenir Next Condensed;
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: left;
    width: 60%
        
        }


nav{
    margin:0, auto;
}


 ul {
    font-family: Helvetica;
    line-height: 1.4em;
    text-align: center;
    border: 0.5px solid black;
    padding: 1% 0% 1% 0%; 
    

}
   


